openapi: 3.0.3
info:
  title: Kaayko - Active Mounted API (code-derived)
  version: 1.0.0
  description: "OpenAPI spec auto-generated for currently mounted endpoints in api/functions/index.js (code-driven, do not guess)."

servers:
  - url: https://us-central1-kaaykostore.cloudfunctions.net/api
  - url: http://localhost:5001/kaaykostore/us-central1/api

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
    ShortLink:
      type: object
      properties:
        code:
          type: string
        shortUrl:
          type: string
        destinations:
          type: object
        title:
          type: string
        enabled:
          type: boolean

paths:
  /helloWorld:
    get:
      summary: Smoke check
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: "OK"

  /images/{productId}/{fileName}:
    get:
      summary: Product image proxy (streams image binary)
      parameters:
        - in: path
          name: productId
          required: true
          schema: { type: string }
        - in: path
          name: fileName
          required: true
          schema: { type: string }
      responses:
        '200': { description: 'Image binary (image/jpeg default)' }
        '404': { description: 'Image not found', content: { 'application/json': { schema: $ref('#/components/schemas/ErrorResponse') } } }

  /products:
    get:
      summary: List products
      responses:
        '200': { description: 'Array of product objects' }

  /products/{id}:
    get:
      summary: Get single product
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: 'Product object' }
        '404': { description: 'Not found' }

  /products/{id}/vote:
    post:
      summary: Vote on a product
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                voteChange:
                  type: integer
                  example: 1
      responses:
        '200': { description: 'Vote updated' }
        '400': { description: 'Bad request' }

  /paddlingOut:
    get:
      summary: List curated paddling locations
      responses:
        '200': { description: 'Array of locations' }

  /paddlingOut/{id}:
    get:
      summary: Get paddling spot by ID
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: 'Location object' }
        '404': { description: 'Not found' }

  /nearbyWater:
    get:
      summary: Find nearby water bodies via OpenStreetMap/Overpass
      parameters:
        - in: query; name: lat; schema: { type: number }; required: true
        - in: query; name: lng; schema: { type: number }; required: true
        - in: query; name: radius; schema: { type: integer }; required: false
        - in: query; name: publicOnly; schema: { type: boolean }; required: false
      responses:
        '200': { description: 'Water bodies list' }
        '400': { description: 'Invalid coordinates', content: { application/json: { schema: $ref('#/components/schemas/ErrorResponse') } } }

  /paddleScore:
    get:
      summary: ML-powered paddle score for a location
      parameters:
        - in: query; name: lat; schema: { type: number }
        - in: query; name: lng; schema: { type: number }
        - in: query; name: location; schema: { type: string }
        - in: query; name: spotId; schema: { type: string }
      responses:
        '200': { description: 'Paddle score object' }
        '404': { description: 'Spot not found' }

  /fastForecast:
    get:
      summary: Fast cached 3-day forecast (hourly) + ML predictions
      parameters:
        - in: query; name: lat; schema: { type: number }
        - in: query; name: lng; schema: { type: number }
        - in: query; name: location; schema: { type: string }
        - in: query; name: spotId; schema: { type: string }
      responses:
        '200': { description: 'Forecast payload (cached or fresh)' }

  /forecast:
    get:
      summary: Generate comprehensive forecast (internal/premium)
      parameters:
        - in: query; name: lat; schema: { type: number }
        - in: query; name: lng; schema: { type: number }
        - in: query; name: spotId; schema: { type: string }
      responses:
        '200': { description: 'Comprehensive forecast object' }
    post:
      summary: Batch generate forecasts (scheduled / admin)
      responses:
        '200': { description: 'Batch job result summary' }

  /smartlinks/health:
    get:
      summary: Smart Links health
      responses:
        '200': { description: 'Service is healthy' }

  /smartlinks/stats:
    get:
      summary: Link statistics
      responses:
        '200': { description: 'Stats object' }

  /smartlinks/r/{code}:
    get:
      summary: Redirect short code (public)
      parameters:
        - in: path; name: code; required: true; schema: { type: string }
      responses:
        '302': { description: 'Redirect' }
        '404': { description: 'Not found / branded HTML response' }

  /smartlinks:
    post:
      summary: Create short link (admin)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200': { description: 'Short link created', content: { application/json: { schema: $ref('#/components/schemas/ShortLink') } } }
    get:
      summary: List short links (admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query; name: enabled; schema: { type: boolean }
        - in: query; name: limit; schema: { type: integer }
      responses:
        '200': { description: 'List of short links' }

  /smartlinks/{code}:
    get:
      summary: Get short link by code (public)
      parameters:
        - in: path; name: code; required: true; schema: { type: string }
      responses:
        '200': { description: 'Short link object' }
    put:
      summary: Update short link (admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path; name: code; required: true; schema: { type: string }
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200': { description: 'Updated short link' }
    delete:
      summary: Delete short link (admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path; name: code; required: true; schema: { type: string }
      responses:
        '200': { description: 'Deleted' }

  /smartlinks/events/{type}:
    post:
      summary: Track an event for a short link (public)
      parameters:
        - in: path; name: type; required: true; schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                linkId: { type: string }
                userId: { type: string }
                platform: { type: string }
      responses:
        '200': { description: 'Event tracked' }

  /gptActions/paddleScore:
    get:
      summary: GPT Actions - paddleScore simplified
      parameters:
        - in: query; name: latitude; required: true; schema: { type: number }
        - in: query; name: longitude; required: true; schema: { type: number }
      responses:
        '200': { description: 'GPT-formatted paddle score' }

  /gptActions/forecast:
    get:
      summary: GPT Actions - forecast (3-day simplified)
      parameters:
        - in: query; name: latitude; required: true; schema: { type: number }
        - in: query; name: longitude; required: true; schema: { type: number }
      responses:
        '200': { description: 'GPT-formatted forecast' }

  /gptActions/locations:
    get:
      summary: GPT Actions - list locations
      responses:
        '200': { description: 'List of paddling locations' }

  /gptActions/findNearby:
    post:
      summary: GPT Actions - find nearby water bodies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude: { type: number }
                longitude: { type: number }
                radius: { type: integer }
      responses:
        '200': { description: 'Nearby water results' }

  /createPaymentIntent:
    post:
      summary: Create a Stripe payment intent (checkout)
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200': { description: 'clientSecret and paymentIntentId' }

  /createPaymentIntent/updateEmail:
    post:
      summary: Update Payment Intent with customer email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentIntentId: { type: string }
                email: { type: string }
      responses:
        '200': { description: 'Updated payment intent with email' }

  /createPaymentIntent/webhook:
    post:
      summary: Stripe webhook - uses raw body and signature header
      parameters:
        - in: header; name: stripe-signature; required: true; schema: { type: string }
      requestBody:
        content:
          application/json: {}
      responses:
        '200': { description: 'received' }

  /auth/logout:
    post:
      summary: Revoke user sessions (requires auth)
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: 'Logout successful' }

  /auth/me:
    get:
      summary: Get current authenticated user
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: 'User object' }

  /auth/verify:
    post:
      summary: Verify a Firebase ID token (debug)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
      responses:
        '200': { description: 'Decoded token' }

  /admin/updateOrderStatus:
    post:
      summary: Update order status (admin / currently unprotected in index.js)
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200': { description: 'Order updated' }

  /admin/getOrder:
    get:
      summary: Fetch order by orderId or parentOrderId
      parameters:
        - in: query; name: orderId; schema: { type: string }
        - in: query; name: parentOrderId; schema: { type: string }
      responses:
        '200': { description: 'Order(s) returned' }

  /admin/listOrders:
    get:
      summary: List orders with filters
      parameters:
        - in: query; name: orderStatus; schema: { type: string }
        - in: query; name: fulfillmentStatus; schema: { type: string }
        - in: query; name: paymentStatus; schema: { type: string }
        - in: query; name: limit; schema: { type: integer }
      responses:
        '200': { description: 'List of orders' }

  /l/{id}:
    get:
      summary: Public deep link redirect (short code + legacy mapping)
      parameters:
        - in: path; name: id; required: true; schema: { type: string }
      responses:
        '302': { description: 'Redirect to app/web' }
        '404': { description: 'Not found (branded HTML)' }

  /resolve:
    get:
      summary: Context restoration after app install (deferred deep linking)
      parameters:
        - in: query; name: id; schema: { type: string }
      responses:
        '200': { description: 'Context object or 404 not found' }

security: []
